@import "tailwindcss"

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #ffffff;
  --color-foreground: #312e81;

  --color-primary: #8b5cf6;
  --color-primary-foreground: #ffffff;

  --color-secondary: #f3f0ff;
  --color-secondary-foreground: #4338ca;

  --color-accent: #dbeafe;
  --color-accent-foreground: #1e40af;

  --color-muted: #f5f3ff;
  --color-muted-foreground: #7c3aed;

  --color-card: #ffffff;
  --color-card-foreground: #312e81;

  --color-popover: #ffffff;
  --color-popover-foreground: #312e81;

  --color-border: #e0e7ff;
  --color-input: #e0e7ff;
  --color-ring: #8b5cf6;

  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;

  --color-chart-1: #8b5cf6;
  --color-chart-2: #7c3aed;
  --color-chart-3: #6d28d9;
  --color-chart-4: #5b21b6;
  --color-chart-5: #4c1d95;

  --color-sidebar-background: #f5f3ff;
  --color-sidebar-foreground: #312e81;

  --color-sidebar-primary: #8b5cf6;
  --color-sidebar-primary-foreground: #ffffff;

  --color-sidebar-accent: #dbeafe;
  --color-sidebar-accent-foreground: #1e40af;

  --color-sidebar-border: #e0e7ff;
  --color-sidebar-ring: #8b5cf6;
}

.dark {
  @theme {
    --color-background: #0f172a;
    --color-foreground: #e0e7ff;

    --color-primary: #8b5cf6;
    --color-primary-foreground: #ffffff;

    --color-secondary: #1e1b4b;
    --color-secondary-foreground: #e0e7ff;

    --color-accent: #4338ca;
    --color-accent-foreground: #e0e7ff;

    --color-muted: #171447;
    --color-muted-foreground: #c4b5fd;

    --color-card: #1e1b4b;
    --color-card-foreground: #e0e7ff;

    --color-popover: #1e1b4b;
    --color-popover-foreground: #e0e7ff;

    --color-border: #2e1065;
    --color-input: #2e1065;
    --color-ring: #8b5cf6;

    --color-destructive: #ef4444;
    --color-destructive-foreground: #ffffff;

    --color-chart-1: #a78bfa;
    --color-chart-2: #8b5cf6;
    --color-chart-3: #7c3aed;
    --color-chart-4: #6d28d9;
    --color-chart-5: #5b21b6;

    --color-sidebar-background: #0f172a;
    --color-sidebar-foreground: #e0e7ff;

    --color-sidebar-primary: #8b5cf6;
    --color-sidebar-primary-foreground: #ffffff;

    --color-sidebar-accent: #4338ca;
    --color-sidebar-accent-foreground: #e0e7ff;

    --color-sidebar-border: #2e1065;
    --color-sidebar-ring: #8b5cf6;
  }
}